src/Cake.ProjHelpers/packages/
src/Cake.ProjHelpers/Cake.ProjHelpers/bin/Debug/
src/Cake.ProjHelpers/Cake.ProjHelpers/bin/Release/
src/Cake.ProjHelpers/Cake.ProjHelpers/obj/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/bin/Debug/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/bin/Release/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/obj/
