src/Cake.ProjHelpers/packages/
src/Cake.ProjHelpers/Cake.ProjHelpers/bin/Debug/
src/Cake.ProjHelpers/Cake.ProjHelpers/bin/Release/
src/Cake.ProjHelpers/Cake.ProjHelpers/obj/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/bin/Debug/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/bin/Release/
src/Cake.ProjHelpers/Cake.ProjHelpers.Tests/obj/
/src/Cake.ProjHelpers/.vs/Cake.ProjHelpers/v14/.suo
nuget/Cake.ProjHelpers.0.0.2/_rels/.rels
*.xml
/src/Cake.ProjHelpers/Cake.ProjectHelpers/bin/Debug/netstandard2.0
/src/Cake.ProjHelpers/Cake.ProjectHelpers/obj
/src/Cake.ProjHelpers/.vs/Cake.ProjHelpers/v15
